<div class="component-block ellevate-block">
  <div class="outer-block">
    <div class="inside-block">
      <h1>
        {{pageContent.alineaTitle1}}
      </h1>
      <p>
        {{pageContent.alinea1}}
      </p>
      <div class="collapse-block"><div class="scroll-down collapse" onclick="collapse"></div></div>
      <div class="short-list">
        <h2>
          {{pageContent.alineaTitle2}}
        </h2>
        <p>
          {{pageContent.alinea2}}
        </p>
        <h2>
          {{pageContent.alineaTitle2}}
        </h2>
        <p>
          {{pageContent.alinea2}}
        </p>
      </div>
    </div>
  </div>
</div>