/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: AvanirNext;
    src: url(assets/fonts/AvenirNextLTPro-Regular.otf);
}

body {
    background-color: #f2e8db;
    color: #22252b;
    font-family: AvanirNext, Arial, Helvetica, sans-serif;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.logo-widescreen {
    display: block;
}

.logo-smartphone {
    display: none;
    height: 19px;
    width: 150px;
}

h1 {
    border-bottom: 2px solid white;
    line-height: 30px;
    width: 100%;
}

.bg-primary {
    background: #22252b;
}

.bd-primary {
    border-bottom: 20px solid #22252b;
}

.component-block {
    height: 450px;
    width: 100%;
}

.outer-block {
    display: inline-block;
    height: auto;
    width: 100%;
}

.menu-block {
    background-color: #f2e8db;
}

.header-block {
    background: url('assets/images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}

.birkman-block {
    background: url('assets/images/bg2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: inline-block;
    border-bottom: 35px solid #22252b;
    text-align: center;
    margin: 0 auto;
}

.shadow-container {
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
}

.featured-block {
    padding-top: 200px;
    display: inline-block;
    margin: 0 auto;
    font-size: 30px;
    line-height: 50px;
    color: white;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}

.referenties-block {
    background: url('assets/images/bg3.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: inline-block;
    border-bottom: 25px solid #22252b;
}

.overmij-block {
    background: linear-gradient(rgba(125,86,82,1),rgba(199,175,140,1)),url(assets/images/bg3.jpg) #333 fixed no-repeat center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.overmij-foto {
    width: 30%;
}

.inner-block {
    display: block;
    text-align: center;
}

.slogan-block {
    background-color: rgba(255, 255, 255, 0.5);
    color: #ce8b70;
    display: inline-block;
    font-size: 55px;
    margin: 0 auto;
    margin-top: 180px;
    padding: 25px 20px;
    text-transform: uppercase;
}

.subtitle-block {
    border: 2px solid #ce8b70;
    clear: both;
    color: #22252b;
    display: inline-block;
    font-size: 15px;
    margin: 0 auto;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 315px;
    text-shadow: 1px 1px 6px #DCDCDC, 1px 1px 5px #DCDCDC;
}

.fill {
    margin: 170px auto;
}

.bottom-block {
    background-color: #ce8b70;
    height: 55px;
    width: 100%;
}

.scroll-block {
    height: auto;
    margin: 0 auto;
    padding: 15px;
    width: 86px;
}

.header-block .outer-block {
    border-bottom: 20px solid #ce8b70;
}

.inside-block {
    margin: 0 auto;
    padding: 10px;
    width: 820px;
}

.inside-block h1 {
    text-transform: uppercase;
}

.float-block {
    float: left;
    margin: 0 auto;
    padding: 10px;
    width: 45%;
}

.logo-shape {
    display: block;
    float: left;
    height: 74px;
    width: 344px;
}

#base {
    background: #ce8b70;
    display: inline-block;
    height: 80px;
    margin-top: 75px;
    position: relative;
    width: 280px;
}
#base:before {
    border-bottom: 70px solid #ce8b70;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -70px;
    width: 0;
}

.logo{
    background: url('assets/images/logo.png');
    background-size: 255px 57px;
    height: 57px;
    margin: 10px;
    width: 255px;
}

.navbar-default {
    background-color: #f2e8db;
    font-family: AvanirNext, Arial, Helvetica, sans-serif;
}

.navbar-default {
    border-bottom: 30px solid #ce8b70;
}

.navbar-collapse {
    margin: 0 auto !important;
    width: 1000px;
}

.navbar-nav {
    margin: 15px 10% 0 0;
}

.nav li a {
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 15px;
}

li .page-scroll{
    color: #22252b !important;
}

li a {
    display: block;
    color: #22252b;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
}

li:nth-child(n+2) {
    border-left: 2px solid #ce8b70;
}


.scroll-down{
  position: relative;
  padding: 30px;
}
 
.scroll-down:before {
  content: '';
  position: absolute;
  top: 12%;
  height: 12%;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: skew(0deg, -30deg);
  -moz-transform: skew(0deg, -30deg);
  -ms-transform: skew(0deg, -30deg);
  -o-transform: skew(0deg, -30deg);
  transform: skew(0deg, -30deg);
}

.scroll-down:after {
  content: '';
  position: absolute;
  top: 12%;
  right: 50%;
  height: 12%;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: skew(0deg, 30deg);
  -moz-transform: skew(0deg, 30deg);
  -ms-transform: skew(0deg, 30deg);
  -o-transform: skew(0deg, 30deg);
  transform: skew(0deg, 30deg);
}​{}

.short-list {
    display: block;
}

.collapse-block {
    height: 20px;
    margin: 0 auto;
    width: 60px;
}

#homeHeading {
    color: rgba(206, 139, 112, 1);
    font-family: AvanirNext, Arial, Helvetica, sans-serif;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;
}

.collapse-block .scroll-down:before, .collapse-block .scroll-down:after {
    background-color: rgba(206, 139, 112, 1);
}

.inside-background-block {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 50px auto;
    padding: 10px;
}

.contact-block {
    background-color: #22252b;
    color: white;
}

.maps-block {
    width: 100%;
    height: 450px;
}

.small-container{
    height: 150px;
    margin: 0 auto;
    padding: 0;
}

.footer-container {
    height: 50px;
    margin: 0 auto;
    padding: 0;
}

.copyright-container {
    float: left;
    padding: 10px 0;
    text-align: left;
    width: 75%;
}

.social-container {
    width: 25%;
    float: right;
    padding: 10px 0;
}

.social-icon{
    width: 31px;
    height: 31px;
    float: left;
    margin-right: 10px;
}

.twitter-icon {
    background-image: url(assets/images/twitter.png);
}

.instagram-icon {
    background-image: url(assets/images/instagram.png);
}

.facebook-icon {
    background-image: url(assets/images/facebook.png);
}

.linkedin-icon {
    background-image: url(assets/images/linkedin.png);
}

.circle {
    text-align: center;
    width: 240px;
    height: 240px;
    background: white; 
    -moz-border-radius: 120px; 
    -webkit-border-radius: 120px; 
    border-radius: 120px;
    padding-top: 40px;
    margin-left: 5%;
}

.circleHeightOne {
    margin-top: -10px;
}

.circleHeightTwo {
    margin-top: 50px;
}

.circleHeightThree {
    margin-top: -20px;
}

.circleHeightFour {
    margin-top: 40px;
}

.circle h3 {
    color: #22252b;
}

.hide-first {
    display: none;
}

.show-first {
    display: block;
}

.container-padding {
    padding: 0 0 50px 0;
}
@media (min-width: 769px){
    .logo-widescreen {
        display: block;
    }

    .logo-smartphone {
        display: none;
    }
}

@media (max-width: 768px){
    .navbar-collapse {
        width: auto;
    }

    .circle {
        text-align: center;
        margin: 0 auto;
    }

    .container {
        padding: 40px 0;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .small-container {
        height: 200px;
    }

    .copyright-container {
        width: 100%;
        text-align: center;
    }

    .social-container {
        width: auto;
        float: none;
        text-align: center;
        margin: 0 auto;
        display: inline-block;
    }

    #base {
    background: #ce8b70;
    display: inline-block;
    height: 40px;
    margin-top: 75px;
    position: relative;
    width: 150px;
    }
    #base:before {
        border-bottom: 35px solid #ce8b70;
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        top: -35px;
    }

    .logo-shape {
        display: block;
        text-align: center;
        padding: 0 8% 0 0;
        width: 50%;
        float: none;
        height: 19px;
    }

    .logo-widescreen {
        display: none;
    }

    .footer-container {
        height: 150px;
    }

    .logo{
        height: 26px;
        margin: 10px;
        width: 127px;
        background-size: 127px;
    }
}

 #contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#22252b;
    filter: brightness(85%);
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #ce8b70;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #ce8b70;
  }

  .textarea{
    height: 129px;
    max-height: 200px;
    max-width: 100%;
  }
  
/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#22252b;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#ce8b70;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#f2e8db;
    color: #22252b;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin-top:330px;
}
input {
    position: relative;
}