/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: AvanirNext;
    src: url(assets/fonts/AvenirNextLTPro-Regular.otf);
}

body {
    background-color: #f2e8db;
    color: #22252b;
    font-family: AvanirNext, Arial, Helvetica, sans-serif;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

h1 {
    border-bottom: 2px solid white;
    line-height: 30px;
    width: 100%;
}

.component-block {
    height: 450px;
    width: 100%;
}

.outer-block {
    display: inline-block;
    height: auto;
    width: 100%;
}

.menu-block {
    background-color: #f2e8db;
}

.header-block {
    background: url('assets/images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}

.birkman-block {
    background: url('assets/images/bg2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: inline-block;
    border-bottom: 35px solid #22252b;
}

.referenties-block {
    background: url('assets/images/bg3.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: inline-block;
    border-bottom: 35px solid #22252b;
}

.overmij-block {
    background: linear-gradient(rgba(125,86,82,0.35),rgba(199,175,140,0.35)),url(assets/images/bg3.jpg) #333 fixed no-repeat center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.inner-block {
    display: block;
    text-align: center;
}

.slogan-block {
    background-color: rgba(255, 255, 255, 0.5);
    color: #ce8b70;
    display: inline-block;
    font-size: 55px;
    margin: 0 auto;
    margin-top: 180px;
    padding: 25px 20px;
    text-transform: uppercase;
}

.subtitle-block {
    border: 2px solid #ce8b70;
    clear: both;
    color: #22252b;
    display: inline-block;
    font-size: 15px;
    margin: 0 auto;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 315px;
    text-shadow: 1px 1px 6px #DCDCDC, 1px 1px 5px #DCDCDC;
}

.fill {
    margin: 170px auto;
}

.bottom-block {
    background-color: #ce8b70;
    height: 55px;
    width: 100%;
}

.scroll-block {
    height: auto;
    margin: 0 auto;
    padding: 15px;
    width: 50px;
}

.header-block .outer-block {
    border-bottom: 20px solid #ce8b70;
}

.inside-block {
    margin: 0 auto;
    padding: 10px;
    width: 820px;
}

.inside-block h1 {
    text-transform: uppercase;
}

.float-block {
    float: left;
    margin: 0 auto;
    padding: 10px;
    width: 45%;
}

.logo-shape {
    display: block;
    float: left;
    height: 74px;
    width: 344px;
}

#base {
    background: #ce8b70;
    display: inline-block;
    height: 80px;
    margin-top: 75px;
    position: relative;
    width: 280px;
}
#base:before {
    border-bottom: 70px solid #ce8b70;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -70px;
    width: 0;
}

.logo{
    background: url('assets/images/logo.png');
    background-size: 255px 57px;
    height: 57px;
    margin: 10px;
    width: 255px;
}

.navbar-default {
    background-color: #f2e8db;
    font-family: AvanirNext, Arial, Helvetica, sans-serif;
}

.navbar-default {
    border-bottom: 30px solid #ce8b70;
}

.navbar-collapse {
    margin: 0 auto !important;
    width: 1000px;
}

.navbar-nav {
    margin: 15px 10% 0 0;
}

.nav li a {
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 15px;
}

li .page-scroll{
    color: #22252b !important;
}

li a {
    display: block;
    color: #22252b;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
}

li:nth-child(n+2) {
    border-left: 2px solid #ce8b70;
}


.scroll-down{
  position: relative;
  padding: 30px;
}
 
.scroll-down:before {
  content: '';
  position: absolute;
  top: 12%;
  height: 12%;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: skew(0deg, -30deg);
  -moz-transform: skew(0deg, -30deg);
  -ms-transform: skew(0deg, -30deg);
  -o-transform: skew(0deg, -30deg);
  transform: skew(0deg, -30deg);
}

.scroll-down:after {
  content: '';
  position: absolute;
  top: 12%;
  right: 50%;
  height: 12%;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: skew(0deg, 30deg);
  -moz-transform: skew(0deg, 30deg);
  -ms-transform: skew(0deg, 30deg);
  -o-transform: skew(0deg, 30deg);
  transform: skew(0deg, 30deg);
}​{}

.short-list {
    display: block;
}

.collapse-block {
    height: 20px;
    margin: 0 auto;
    width: 60px;
}

#homeHeading {
    color: rgba(206, 139, 112, 1);
    font-family: AvanirNext, Arial, Helvetica, sans-serif;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;
}

.collapse-block .scroll-down:before, .collapse-block .scroll-down:after {
    background-color: rgba(206, 139, 112, 1);
}

.inside-background-block {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 50px auto;
    padding: 10px;
}

.bg-primary {
    background: #22252b;
}

.bd-primary {
    border-bottom: 20px solid #22252b;
}

.contact-block {
    background-color: #22252b;
    color: white;
}

.maps-block {
    width: 100%;
    height: 450px;
}

.small-container{
    height: 50px;
    margin: 0 auto;
    padding: 0;
}

.copyright-container {
    padding: 10px 0;
    margin-left: 25%;
    width: 100%;
}

.social-container {
    width: 50%;
    float: right;
}

.social-icon{
    width: 31px;
    height: 31px;
    float: left;
    margin-right: 10px;
}

.twitter-icon {
    background-image: url(assets/images/twitter.png);
}

.instagram-icon {
    background-image: url(assets/images/instagram.png);
}

.facebook-icon {
    background-image: url(assets/images/facebook.png);
}

.linkedin-icon {
    background-image: url(assets/images/linkedin.png);
}

@media (max-width: 768px){
    .navbar-collapse {
        width: auto;
    }
}
